# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# System files
.DS_Store
Thumbs.db

# Log or output files
occupancy_log.csv

yolov8n.pt/
